* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: bisque;
}

.parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.image {
  height: 300px;
  width: 250px;
}

.perfume { 
  
}

.description {
  max-width: 30ch;
}
